In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

Content	Data collected at the children's level (MICS Under Five Children's questionnaire modules: Under-five child information panel, Child's age, Birth registration, Early childhood development, Breastfeeding , Care of illness, Immunization, Under-five child selected for blood test.)

Dataset produced by UNICEF and Central Statistics Organization

In [24]:
#importing ch.csv which was converted from .sav format in R. Check get_Congo_to_csv.R file
#Set low_memory = False to avoid the warning about column numbers having mixed type values.
## 107,116,118,121,122,123,125,128,130,138,153,158,167,168,169

df = pd.read_csv('ch.csv', low_memory = False)

In [29]:
df.describe()

,HH1,HH2,LN,UF1,UF2,UF4,UF6,UF8D,UF8M,UF8Y,...,CDOI,CDOB,CAGE,CAGE_6,CAGE_11,melevel,religion,wscore,windex5,chweight
count,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.0,...,11245.000000,11093.000000,11093.000000,11093.000000,11093.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000
mean,197.041974,100.002045,5.942374,197.041974,100.002045,5.942374,2.312672,15.582214,2.739707,2010.0,...,1322.739707,1294.745695,27.550798,3.744704,2.859281,2.136950,9.059315,0.037520,2.992708,0.986483
std,109.647359,85.478026,2.522024,109.647359,85.478026,2.522024,1.465379,8.257028,0.588422,0.0,...,0.588422,16.870120,16.881971,1.572419,1.394613,0.768528,24.119801,0.943380,1.427216,0.816790
min,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2010.0,...,1322.000000,1263.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-0.850643,0.000000,0.000000
25%,100.000000,29.000000,4.000000,100.000000,29.000000,4.000000,2.000000,9.000000,2.000000,2010.0,...,1322.000000,1280.000000,13.000000,3.000000,2.000000,2.000000,1.000000,-0.632641,2.000000,0.441745
50%,200.000000,74.000000,6.000000,200.000000,74.000000,6.000000,2.000000,16.000000,3.000000,2010.0,...,1323.000000,1296.000000,27.000000,4.000000,3.000000,2.000000,2.000000,-0.358324,3.000000,0.917851
75%,291.000000,156.000000,7.000000,291.000000,156.000000,7.000000,2.000000,22.000000,3.000000,2010.0,...,1323.000000,1310.000000,42.000000,5.000000,4.000000,3.000000,4.000000,0.351064,4.000000,1.352023
max,383.000000,452.000000,26.000000,383.000000,452.000000,26.000000,24.000000,31.000000,5.000000,2010.0,...,1325.000000,1324.000000,59.000000,6.000000,5.000000,9.000000,99.000000,3.927283,5.000000,9.054754

In [31]:
#Convert column with mixed types to object type.

df.iloc[:,[107,116,118,121,122,123,125,128,130,138,153,158,167,168,169]] = df.iloc[:,[107,116,118,121,122,123,125,128,130,138,153,158,167,168,169]].astype(object)
g = df.columns.to_series().groupby(df.dtypes).groups
g

{dtype('int64'): Index(['HH1', 'HH2', 'LN', 'UF1', 'UF2', 'UF4', 'UF6', 'UF8D', 'UF8M', 'UF8Y',
        'UF9', 'UF11', 'HH6', 'HH7', 'HL4', 'PSU', 'stratum', 'CDOI', 'melevel',
        'religion', 'windex5'],
       dtype='object'),
 dtype('float64'): Index(['UF12H', 'UF12M', 'UF13H', 'UF13M', 'AG1D', 'AG1M', 'AG1Y', 'AG2',
        'BR1', 'BR1AD',
        ...
        'TN12_4', 'TN12A', 'ED4A', 'ED4B', 'CDOB', 'CAGE', 'CAGE_6', 'CAGE_11',
        'wscore', 'chweight'],
       dtype='object', length=188),
 dtype('O'): Index(['UF7', 'UF10', 'EC7AA', 'EC7AB', 'EC7AX', 'EC7AY', 'EC7BA', 'EC7BB',
        'EC7BX', 'EC7BY', 'EC7CA', 'EC7CB', 'EC7CX', 'EC7CY', 'EC7DA', 'EC7DB',
        'EC7DX', 'EC7DY', 'EC7EA', 'EC7EB', 'EC7EX', 'EC7EY', 'EC7FA', 'EC7FB',
        'EC7FX', 'EC7FY', 'CA6A', 'CA6B', 'CA6C', 'CA6G', 'CA6H', 'CA6L',
        'CA6M', 'CA6N', 'CA6O', 'CA6Q', 'CA6X', 'CA11A', 'CA11B', 'CA11C',
        'CA11D', 'CA11H', 'CA11I', 'CA11J', 'CA11K', 'CA11L', 'CA11O', 'CA11P',
        'CA11Q', 'CA11R', 'CA11S', 'CA11X', 'CA13A', 'CA13B', 'CA13M', 'CA13P',
        'CA13Q', 'CA13R', 'CA13X', 'CA13Z', 'ML6A', 'ML6B', 'ML6C', 'ML6D',
        'ML6E', 'ML6F', 'ML6H', 'ML6I', 'ML6J', 'ML6P', 'ML6Q', 'ML6R', 'ML6X',
        'ML6Z', 'ML9A', 'ML9B', 'ML9C', 'ML9D', 'ML9E', 'ML9F', 'ML9H', 'ML9I',
        'ML9J', 'ML9P', 'ML9Q', 'ML9R', 'ML9X', 'ML9Z', 'AN1'],
       dtype='object')}

In [32]:
#Remove all columns which do not predict vaccination coverage (Serial numbers, IDs, etc)

df = df.loc[:, ~df.columns.str.startswith('UF')]
df = df.loc[:, ~df.columns.str.startswith('HH')]
df = df.loc[:, ~df.columns.str.startswith('LN')]
df.drop('AN1', axis=1, inplace=True)

In [33]:
#Set the target to column IM6 - Child ever received any vaccinations
#Seperate the target column from the df.

target = df['IM6']
df.drop('IM6', axis=1, inplace=True)

In [34]:
#Remove all columns from df which are related to immunization coverage
#since all of them are response variables

df = df.loc[:, ~df.columns.str.startswith('IM')]

In [35]:
#One hot encoding of categorical values using get_dummies function

dummies = pd.get_dummies(df)
dummies.head()

,AG1D,AG1M,AG1Y,AG2,BR1,BR1AD,BR1AM,BR1AY,BR2,BR2A,...,ML9P_?,ML9P_P,ML9Q_?,ML9Q_Q,ML9R_?,ML9R_R,ML9X_?,ML9X_X,ML9Z_?,ML9Z_Z
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,4.0,1.0,2006.0,4.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,6.0,5.0,2008.0,1.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,1,0,0,0,0,0,0
4,4.0,9.0,2009.0,0.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [36]:
#Replace NaN with 0

dummies = dummies.fillna(0)

In [38]:
target.unique()

array([nan,  1.,  8.,  2.,  9.])

1	Yes	    - 6021   
2	No	    - 1279  
8	DK	    - 102	  
9	Missing - 3

In [41]:
#Creating a column for the target variable

dummies['vaccine'] = target

In [42]:
#Creating a binary variable since by coding Yes to 1 and any other response as 0.

dummies['has_been_vaccinated'] = dummies.vaccine.apply(lambda x: 1 if x == 1 else 0)
dummies.drop('vaccine', axis=1, inplace=True)
y=['has_been_vaccinated']
dummy_vars =dummies.columns.values.tolist()
X=[i for i in dummy_vars if i not in y]

In [43]:
#Using a combination of Recursive Feature Selection and Logistic regression
#to select the top 25 features that can predict has_been_vaccinated variable

logreg = LogisticRegression()
rfe = RFE(logreg,n_features_to_select= 25)
rfe = rfe.fit(dummies[X],dummies[y].values.ravel())
print(rfe.support_,rfe.ranking_)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False  True False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False  True False False False False False False False  True False
 False False False False False False False False False  True  True False
  True False False  True False False  True  True  True False False False
 False False False False False False False False False False  True  True
  True False False False False False False False False False False  True
 False False False False False  True  True False False  True  True False
 False  True False False False False  True  True False False False False] [195 193 104 198 140 116 117 225 114 113 217 166  83 100 187  94 163 172
  60 171  84 160 153  55  25 158  54  62 209 120 229 214 128  87  39 144
 178 173 105 168  52 129  88 180  80 169 237 191 109 130 167 213 112 145
 219  19  20  34  68  97 233 124 150 240  67 211 232  95 231 110 146  75
  79 207  99 177 192 184 159 236 179 183 202 136 182 201 139 238  92 197
 224 234 203 204   9  91  10 101   1  78 155 196 156 239 210 107  93 143
 226 186 221 222 223  74 199 181 185 228 189 190 103 102   1  32  63 216
 230 188 134  24   1  22   1  11 162  23 161  61  57  86  59  90  53  96
  58 141 119 132 106 137 149 131  76 206  31 205  71 133 208 200 220 154
 147 127 115 138   3 142 175 135 165 151  72 152  12 148  73  16  28  15
   1  29   1  49  27  17  30  18  69  41   1  64  38  42  33  56 157  50
  51  40  66   1   1 194   1 111   5   1  65  98   1   1   1  43 218  35
   8 174  70 170  48 215  36   6  21 235   1   1   1  46  44  47  45 108
  85 164 125  13 118   1  26  82 122  37   7   1   1  77  14   1   1 227
   2   1 121 212   4  89   1   1 123  81 126 176]

In [44]:
#Display column name and numbers of the top 25 features from the model.

cols = []
for i in range(len(rfe.ranking_)):
    if rfe.ranking_[i] == 1:
        print(i,dummies.columns[i])   
        cols.append(dummies.columns[i])

98 WHZNOAGE
122 CAGE_6
130 EC7AA_A
132 EC7AB_B
180 CA6B_B
182 CA6C_C
190 CA6M_M
201 CA11C_C
202 CA11D_D
204 CA11I_I
207 CA11L_L
210 CA11Q_Q
211 CA11R_R
212 CA11S_S
226 ML6E_E
227 ML6F_F
228 ML6H_H
239 ML9B_B
245 ML9E_E
246 ML9F_?
249 ML9H_H
250 ML9I_?
253 ML9J_J
258 ML9R_?
259 ML9R_R

In [72]:
X=dummies[cols]
y=dummies['has_been_vaccinated']

In [73]:
#Using LogisticRegression model to check for the significance of every feature.

model = LogisticRegression()
model = model.fit(X, y)

In [93]:
coef = model.coef_.tolist()

In [99]:
for i in range(len(cols)):
    print (coef[0][i],cols[i])

-0.6463202845016877 WHZNOAGE
0.42600439088951314 CAGE_6
0.5715155329238819 EC7AA_A
-0.5765471002468476 EC7AB_B
0.33646128589847357 CA6B_B
-0.38169500213643565 CA6C_C
0.7453169825663124 CA6M_M
0.38057142035841884 CA11C_C
-0.6468081716655837 CA11D_D
-0.41833624421343785 CA11I_I
-0.41352855316114656 CA11L_L
0.5611963586467028 CA11Q_Q
0.39401277869463464 CA11R_R
-0.5199288782785707 CA11S_S
0.2966930910421002 ML6E_E
-0.5183642503378668 ML6F_F
-0.3428959926567299 ML6H_H
0.4889700647540831 ML9B_B
-0.6186400195922814 ML9E_E
0.31222103568814463 ML9F_?
-0.2828050051887996 ML9H_H
0.31222103568814463 ML9I_?
0.7377307181381181 ML9J_J
0.31222103568814463 ML9R_?
-0.47186580542900686 ML9R_R

In [100]:
#Traing the logistic regression model

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [101]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.65

In [102]:
#Cross validation to verify the model accuracy

from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=7)
modelCV = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X_train, y_train, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.636

In [104]:
#Confusion matrix for the predictions

from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[ 932  603]
 [ 570 1269]]

In [105]:
#Overall classification report

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.62      0.61      0.61      1535
          1       0.68      0.69      0.68      1839

avg / total       0.65      0.65      0.65      3374