In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

Content	Data collected at the children's level (MICS Under Five Children's questionnaire modules: Under-five child information panel, Child's age, Birth registration, Early childhood development, Breastfeeding , Care of illness, Immunization, Under-five child selected for blood test.)

Dataset produced by UNICEF and Central Statistics Organization

In [6]:
#importing ch.csv which was converted from .sav format in R. Check get_Congo_to_csv.R file
#Set low_memory = False to avoid the warning about column numbers having mixed type values.
## 107,116,118,121,122,123,125,128,130,138,153,158,167,168,169

df = pd.read_csv('ch.csv', low_memory = False)

In [26]:
df.describe()

,HH1,HH2,LN,UF1,UF2,UF4,UF6,UF8D,UF8M,UF8Y,...,CDOI,CDOB,CAGE,CAGE_6,CAGE_11,melevel,religion,wscore,windex5,chweight
count,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.0,...,11245.000000,11093.000000,11093.000000,11093.000000,11093.000000,11245.000000,11245.000000,11245.000000,11245.000000,11245.000000
mean,197.041974,100.002045,5.942374,197.041974,100.002045,5.942374,2.312672,15.582214,2.739707,2010.0,...,1322.739707,1294.745695,27.550798,3.744704,2.859281,2.136950,9.059315,0.037520,2.992708,0.986483
std,109.647359,85.478026,2.522024,109.647359,85.478026,2.522024,1.465379,8.257028,0.588422,0.0,...,0.588422,16.870120,16.881971,1.572419,1.394613,0.768528,24.119801,0.943380,1.427216,0.816790
min,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2010.0,...,1322.000000,1263.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-0.850643,0.000000,0.000000
25%,100.000000,29.000000,4.000000,100.000000,29.000000,4.000000,2.000000,9.000000,2.000000,2010.0,...,1322.000000,1280.000000,13.000000,3.000000,2.000000,2.000000,1.000000,-0.632641,2.000000,0.441745
50%,200.000000,74.000000,6.000000,200.000000,74.000000,6.000000,2.000000,16.000000,3.000000,2010.0,...,1323.000000,1296.000000,27.000000,4.000000,3.000000,2.000000,2.000000,-0.358324,3.000000,0.917851
75%,291.000000,156.000000,7.000000,291.000000,156.000000,7.000000,2.000000,22.000000,3.000000,2010.0,...,1323.000000,1310.000000,42.000000,5.000000,4.000000,3.000000,4.000000,0.351064,4.000000,1.352023
max,383.000000,452.000000,26.000000,383.000000,452.000000,26.000000,24.000000,31.000000,5.000000,2010.0,...,1325.000000,1324.000000,59.000000,6.000000,5.000000,9.000000,99.000000,3.927283,5.000000,9.054754

In [7]:
#Convert column with mixed types to object type.

df.iloc[:,[107,116,118,121,122,123,125,128,130,138,153,158,167,168,169]] = df.iloc[:,[107,116,118,121,122,123,125,128,130,138,153,158,167,168,169]].astype(object)
g = df.columns.to_series().groupby(df.dtypes).groups
g

{dtype('int64'): Index(['HH1', 'HH2', 'LN', 'UF1', 'UF2', 'UF4', 'UF6', 'UF8D', 'UF8M', 'UF8Y',
        'UF9', 'UF11', 'HH6', 'HH7', 'HL4', 'PSU', 'stratum', 'CDOI', 'melevel',
        'religion', 'windex5'],
       dtype='object'),
 dtype('float64'): Index(['UF12H', 'UF12M', 'UF13H', 'UF13M', 'AG1D', 'AG1M', 'AG1Y', 'AG2',
        'BR1', 'BR1AD',
        ...
        'TN12_4', 'TN12A', 'ED4A', 'ED4B', 'CDOB', 'CAGE', 'CAGE_6', 'CAGE_11',
        'wscore', 'chweight'],
       dtype='object', length=188),
 dtype('O'): Index(['UF7', 'UF10', 'EC7AA', 'EC7AB', 'EC7AX', 'EC7AY', 'EC7BA', 'EC7BB',
        'EC7BX', 'EC7BY', 'EC7CA', 'EC7CB', 'EC7CX', 'EC7CY', 'EC7DA', 'EC7DB',
        'EC7DX', 'EC7DY', 'EC7EA', 'EC7EB', 'EC7EX', 'EC7EY', 'EC7FA', 'EC7FB',
        'EC7FX', 'EC7FY', 'CA6A', 'CA6B', 'CA6C', 'CA6G', 'CA6H', 'CA6L',
        'CA6M', 'CA6N', 'CA6O', 'CA6Q', 'CA6X', 'CA11A', 'CA11B', 'CA11C',
        'CA11D', 'CA11H', 'CA11I', 'CA11J', 'CA11K', 'CA11L', 'CA11O', 'CA11P',
        'CA11Q', 'CA11R', 'CA11S', 'CA11X', 'CA13A', 'CA13B', 'CA13M', 'CA13P',
        'CA13Q', 'CA13R', 'CA13X', 'CA13Z', 'ML6A', 'ML6B', 'ML6C', 'ML6D',
        'ML6E', 'ML6F', 'ML6H', 'ML6I', 'ML6J', 'ML6P', 'ML6Q', 'ML6R', 'ML6X',
        'ML6Z', 'ML9A', 'ML9B', 'ML9C', 'ML9D', 'ML9E', 'ML9F', 'ML9H', 'ML9I',
        'ML9J', 'ML9P', 'ML9Q', 'ML9R', 'ML9X', 'ML9Z', 'AN1'],
       dtype='object')}

In [28]:
# Remove all columns which do not predict vaccination coverage (Serial numbers, IDs, etc)

df = df.loc[:, ~df.columns.str.startswith('UF')]
df = df.loc[:, ~df.columns.str.startswith('HH')]
df = df.loc[:, ~df.columns.str.startswith('LN')]
df.drop('AN1', axis=1, inplace=True)

In [4]:
#Set the target to column IM6 - Child ever received any vaccinations
#Seperate the target column from the df.

target = df['IM6']
df.drop('IM6', axis=1, inplace=True)

In [30]:
#Remove all columns from df which are related to immunization coverage
#since all of them are response variables

df = df.loc[:, ~df.columns.str.startswith('IM')]

In [31]:
#One hot encoding of categorical values using get_dummies function

dummies = pd.get_dummies(df)
dummies.head()

,AG1D,AG1M,AG1Y,AG2,BR1,BR1AD,BR1AM,BR1AY,BR2,BR2A,...,ML9P_?,ML9P_P,ML9Q_?,ML9Q_Q,ML9R_?,ML9R_R,ML9X_?,ML9X_X,ML9Z_?,ML9Z_Z
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,4.0,1.0,2006.0,4.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,6.0,5.0,2008.0,1.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,1,0,0,0,0,0,0
4,4.0,9.0,2009.0,0.0,3.0,NaN,NaN,NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [32]:
#Replace NaN with 0

dummies = dummies.fillna(0)

In [33]:
target.unique()

array([nan,  1.,  8.,  2.,  9.])

1	Yes	    - 6021   
2	No	    - 1279  
8	DK	    - 102	  
9	Missing - 3

In [34]:
#Creating a column for the target variable

dummies['vaccine'] = target

In [35]:
#Creating a binary variable since by coding Yes to 1 and any other response as 0.

dummies['has_been_vaccinated'] = dummies.vaccine.apply(lambda x: 1 if x == 1 else 0)
dummies.drop('vaccine', axis=1, inplace=True)
y=['has_been_vaccinated']
dummy_vars =dummies.columns.values.tolist()
X=[i for i in dummy_vars if i not in y]

In [36]:
#Using a combination of Recursive Feature Selection and Logistic regression
#to select the top 25 features that can predict has_been_vaccinated variable

logreg = LogisticRegression()
rfe = RFE(logreg,n_features_to_select= 50)
rfe = rfe.fit(dummies[X],dummies[y].values.ravel())
print(rfe.support_,rfe.ranking_)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False  True  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
  True False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False  True  True  True
  True  True False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False False False False False False  True False False  True False  True
  True False  True False False  True False  True False False  True False
 False False False False False False False False False  True  True False
  True False  True  True False False  True  True  True False False False
  True False False False False False False  True  True False  True  True
  True False False False False False False False False  True False  True
  True False False False  True  True  True False  True  True  True False
  True  True False False  True False  True  True False False False False] [170 168  79 173 115  91  92 200  89  88 192 141  58  75 162  69 138 147
  35 146  59 135 128  30   1 133  29  37 184  95 204 189 103  62  14 119
 153 148  80 143  27 104  63 155  55 144 212 166  84 105 142 188  87 120
 194   1   1   9  43  72 208  99 125 215  42 186 207  70 206  85 121  50
  54 182  74 152 167 159 134 211 154 158 177 111 157 176 114 213  67 172
 199 209 178 179   1  66   1  76   1  53 130 171 131 214 185  82  68 118
 201 161 196 197 198  49 174 156 160 203 164 165  78  77   1   7  38 191
 205 163 109   1   1   1   1   1 137   1 136  36  32  61  34  65  28  71
  33 116  94 107  81 112 124 106  51 181   6 180  46 108 183 175 195 129
 122 102  90 113   1 117 150 110 140 126  47 127   1 123  48   1   3   1
   1   4   1  24   2   1   5   1  44  16   1  39  13  17   8  31 132  25
  26  15  41   1   1 169   1  86   1   1  40  73   1   1   1  18 193  10
   1 149  45 145  23 190  11   1   1 210   1   1   1  21  19  22  20  83
  60 139 100   1  93   1   1  57  97  12   1   1   1  52   1   1   1 202
   1   1  96 187   1  64   1   1  98  56 101 151]

In [37]:
#Display column name and numbers of the top 25 features from the model.

cols = []
for i in range(len(rfe.ranking_)):
    if rfe.ranking_[i] == 1:
        print(i,dummies.columns[i])   
        cols.append(dummies.columns[i])

24 EC12
55 CA4A
56 CA4B
94 HAZFLAG
96 WHZFLAG
98 WHZNOAGE
122 CAGE_6
129 EC7AA_?
130 EC7AA_A
131 EC7AB_?
132 EC7AB_B
133 EC7AX_?
135 EC7AY_?
166 EC7EX_X
174 EC7FX_X
177 CA6A_?
179 CA6B_?
180 CA6B_B
182 CA6C_C
185 CA6H_?
187 CA6L_?
190 CA6M_M
201 CA11C_C
202 CA11D_D
204 CA11I_I
206 CA11K_K
207 CA11L_L
210 CA11Q_Q
211 CA11R_R
212 CA11S_S
216 CA13M_M
223 ML6B_B
224 ML6C_C
226 ML6E_E
227 ML6F_F
228 ML6H_H
237 ML9A_A
239 ML9B_B
240 ML9C_?
244 ML9E_?
245 ML9E_E
246 ML9F_?
248 ML9H_?
249 ML9H_H
250 ML9I_?
252 ML9J_?
253 ML9J_J
256 ML9Q_?
258 ML9R_?
259 ML9R_R

In [38]:
X=dummies[cols]
y=dummies['has_been_vaccinated']

In [ ]:
df = df.fillna(0)
df['vaccine'] = target

In [39]:
#Using LogisticRegression model to check for the significance of every feature.

model = LogisticRegression()
model = model.fit(X, y)

In [40]:
coef = model.coef_.tolist()

In [41]:
for i in range(len(cols)):
    print (coef[0][i],cols[i])

-0.19847948992801703 EC12
0.2509147217493737 CA4A
-0.20439269621627754 CA4B
0.2727965157625727 HAZFLAG
-0.22259607279368082 WHZFLAG
-0.6650140996442923 WHZNOAGE
0.5202923413951608 CAGE_6
0.28190777065957695 EC7AA_?
0.6189345719157524 EC7AA_A
0.28190777065957695 EC7AB_?
-0.5479293452882388 EC7AB_B
0.28190777065957695 EC7AX_?
0.28190777065957695 EC7AY_?
-0.2810190614349263 EC7EX_X
0.24365226050899438 EC7FX_X
0.2118717046380473 CA6A_?
0.2118717046380473 CA6B_?
0.31574561157894787 CA6B_B
-0.44413466062655915 CA6C_C
0.2118717046380473 CA6H_?
0.2118717046380473 CA6L_?
0.7100974715702854 CA6M_M
0.3433085279866713 CA11C_C
-0.668354651827194 CA11D_D
-0.426897329207537 CA11I_I
-0.30208469609884575 CA11K_K
-0.4811358118489807 CA11L_L
0.5496847051888992 CA11Q_Q
0.4376324088470946 CA11R_R
-0.5223630534849342 CA11S_S
0.2597039199119924 CA13M_M
0.29135539880206707 ML6B_B
-0.20180240433446817 ML6C_C
0.26891471805420053 ML6E_E
-0.5399992956648323 ML6F_F
-0.3459945333564058 ML6H_H
0.26769181791368224 ML9A_A
0.4287207910418813 ML9B_B
0.19753328468292794 ML9C_?
0.19753328468292794 ML9E_?
-0.6051149185367608 ML9E_E
0.19753328468292794 ML9F_?
0.19753328468292794 ML9H_?
-0.30788857480100795 ML9H_H
0.19753328468292794 ML9I_?
0.19753328468292794 ML9J_?
0.7028505774842001 ML9J_J
0.19753328468292794 ML9Q_?
0.19753328468292794 ML9R_?
-0.4455998925969615 ML9R_R

In [42]:
#Traing the logistic regression model

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.65

In [44]:
#Cross validation to verify the model accuracy

from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=7)
modelCV = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X_train, y_train, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.635

In [45]:
#Confusion matrix for the predictions

from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[ 859  676]
 [ 496 1343]]

In [46]:
#Overall classification report

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.63      0.56      0.59      1535
          1       0.67      0.73      0.70      1839

avg / total       0.65      0.65      0.65      3374